* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  overflow:hidden;
  scroll-behavior:smooth;
}
  
button:hover, select:hover{
  cursor: pointer;
}

input, button, textarea, select {
  border:none;
  outline:none;
}

input:focus::placeholder {
  color:transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}